body {
  background-color: red;
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  background-color: green;
  min-height: 500px;
  padding: 20px;
  border: 1px black;
  max-width: 90%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  justify-content: space-evenly;
}

.banner-title {
  font-size: 64px;
}

.header-section {
  display: flex;
  background-color: orange;
  flex-direction: column;
  justify-content: center;
}

nav {
  display: flex;
  background-color: blue;
  justify-content: space-between;
  align-items: center;
  padding-inline: 20px;
  position: fixed;
  top: 0;
  width: 100%;
}

nav > ul > li {
  display: inline-block;
  padding: 10;
  border: 2px solid #ff6550;
  padding: 10px;
}

main {
  background-color: white;
}

.container {
  max-width: 1024px;
  padding-inline: 20px;
  margin-inline: auto;
}

footer {
  background-color: purple;
  color: white;
}
